name: Build Binder Container
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Trigger Binder build
        uses: jupyterhub/repo2docker-action@master
        with:
          NO_PUSH: true
          MYBINDER_CACHE: true
